<header>
  <a routerLink="/">
    <h1>Wookie Books</h1>
  </a>
  <button (click)="showMenu()" type="button">Menu</button>
  <div id="navContainer" class="overlay dNone" (click)="hideMenu()">
    <nav id="nav">
      <div class="close" (click)="hideMenu()">X</div>
      <div *ngIf="general.login">Hello {{ this.username }}</div>
      <button (click)="clickMainPage()" type="button">
        Main Page
      </button>
      <button (click)="clickSeeBasket()" type="button">
        See Basket
      </button>
      <button *ngIf="general.login" (click)="clickAddBook()" type="button">
        Add Book
      </button>
      <button *ngIf="general.login" (click)="clicklogout()" type="button">
        Log Out
      </button>
      <button *ngIf="!general.login" (click)="clickLogin()" type="button">
        Log In
      </button>
    </nav>
  </div>
</header>
