<section>
  <div class="flex1 legal">
    <h2>What is Wookie Books?</h2>
    <b>
      Wookie Books is a market place where we can self-publish our achievements and
      offer them to other Wookies online.<br />
      The earnings will subsequently be gathered and used to make purchases of
      medical supplies for a desperate Ewok village.
    </b>
    <br><br>
    <b class="alert">Darth Vader, get out! You have no chance here for your evil doings!!</b>
    <br />
    <h2>Legal Notice</h2>
    <h3>Imprint</h3>
    <ul>
      <li>Name: Lohgarra</li>
      <li>Address: Wookie Ruined Village, forever damn the Trandoshaner!!</li>
      <li>Planet: Kashyyyk</li>
    </ul>
    <div>
      <h3>Direct all complaints to</h3>
      <b>Email: Lohgarra[at]thegalaxy.net</b>
    </div>
    <br />
    <h3>Pictures</h3>
    Background picture Kai Pilger:
    <a href="">https://www.pexels.com/de-de/foto/sternhaufen-1341279/</a>
  </div>
</section>
