 <section>
    <div class="searchBar" id="searchMobile">
      <input
        type="text"
        placeholder="Search for Title..."
        [(ngModel)]="searchQuery"
      />
    </div>
    <div class="content">
      <div class="genre" *ngFor="let genre of genres">
        <h2 *ngIf="filterBooksByGenre(genre).length > 0">{{ genre }}</h2>
        <div *ngIf="filterBooksByGenre(genre).length > 0" class="genreRow">
          <div
            class="contentTile"
            *ngFor="
              let book of filterBooksByGenre(genre)
                | filterByTitle : searchQuery
            "
            (click)="general.showBookOverlay(book)"
          >
            <div>
              <img
                [src]="book.cover_image"
                alt="{{ book.title }} Cover"
                (contextmenu)="general.preventRightClick($event)"
              />
            </div>
            <div>
              <h3>{{ book.title }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div *ngIf="general.selectedBook" class="overlay">
    <button id="overlayCloseButton" (click)="general.closeBookOverlay()">Close</button>
    <div class="overlayBox">
      <img [src]="general.selectedBook.cover_image" alt="Cover" />
      <div class="overlayRight">
        <h3>{{ general.selectedBook.title }}</h3>
        <h4>{{ general.selectedBook.author.author_pseudonym }}</h4>
        <p>{{ general.selectedBook.price }} WookieTokens</p>
        <p>{{ general.selectedBook.description }}</p>
      </div>
    </div>
    <div class="overlayBottom">
      <button *ngIf="general.login" (click)="deleteBook(general.selectedBook)">Delete Book</button>
      <button *ngIf="general.login" (click)="editBook(general.selectedBook)">Edit Book</button>
      <button (click)="buyBook(general.selectedBook)">Buy Book</button>
    </div>
  </div>
