img {
    height: 200px;
    cursor: pointer;
  
    &:hover {
      height: 250px;
    }
  }
  
  .content {
    flex-direction: column;
    display: flex;
    gap: 16px;
    width: 90%;
    margin: 32px;
    flex: 1;
    box-sizing: border-box;
  }
  
  .genre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .genreRow {
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow-x: scroll;
    width: 100%;
    align-items: flex-start;
  }
  
  .contentTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
  }
  
  .searchBar {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 8px;
    input {
      min-width: 16px;
      border-radius: 0.25rem;
      line-height: 1.5;
      font-size: 1rem;
      border: none;
      padding: 16px;
    }
  }
  
  .overlay {
  
    img {
      height: 300px;
    }

    p {
      text-align: left;
    }
  
  }
  